#
# {{ ansible_managed }}
#
# netdata configuration
#
# You can download the latest version of this file, using:
#
#  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
# or
#  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#
# You can uncomment and change any of the options below.
# The value shown in the commented settings, is the default value.
#

[global]
    run as user = {{ netdata_global_run_as_user}}

    # the default database size - 1 hour
    history = {{ netdata_global_history}}

    # some defaults to run netdata with least priority
    process scheduling policy = idle
    OOM score = {{ netdata_global_OOM_score }}

{% for key in netdata_global_settings %}
    {{ key }} = {{ netdata_global_settings[key] }}
{% endfor -%}

[web]
    web files group = {{ netdata_web_web_files_group }}
    web files owner = {{ netdata_web_web_files_owner }}

    # by default do not expose the netdata port
    bind to = {{ netdata_web_bind_to }}

{% for key in netdata_web_settings %}
    {{ key }} = {{ netdata_web_settings[key] }}
{% endfor -%}

{% if netdata_plugin is defined %}
{% for i in netdata_plugin %}
[{{ i.name }}]
{% for key in i.settings %}
    {{ key }} = {{ i.settings[key] }}
{% endfor %}
{% endfor %}
{% endif %}
