#
# {{ ansible_managed }}
#
# netdata python.d.plugin configuration
#
# This file is in YaML format.
# Generally the format is:
#
# name: value
#

enabled: {{ netdata_python_enabled }}
logs_per_interval: {{ netdata_python_logs_per_interval }}
log_interval: {{ netdata_python_log_interval }}

default_run: {{ netdata_python_default_run }}

{% for key in netdata_python_plugins %}
{{ key }} : {{ netdata_python_plugins[key] }}
{% endfor %}
